/**
 * Version: 2.0
 * Author: JuicyCodes
 * Website: https://juicycodes.com
 */

body {
	margin: 0
}

#video_player {
	position: absolute;
	height: 100vh!important;
}

.jw-error .jw-preview,
.jwplayer .jw-preview {
	background-size: cover!important
}

.jw-dock-image {
	background-size: 45%
}

.banner {
	position: absolute;
	top: 50px;
	background: #607D8B;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 300px;
	height: 250px;
	text-align: center;
	padding: 5px
}

.banner .close {
	position: absolute;
	background: #37474F;
	color: #fff;
	padding: 2px 6px;
	right: 0;
	top: 0;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%
}

.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
.jw-icon-display{
    width: 180px !important;
    height: 180px !important;
}

.jw-svg-icon-play path {    
    display: none;
}

.jw-svg-icon-play {
    background-image: url('play.svg');
    background-size: contain;
    background-repeat: no-repeat;    
    width: 180px !important;
    height: 180px !important;
}
.jw-svg-icon-play:hover {
    background-image: url('play_kuning.svg');
    transition: all ease-in-out 0.5s;
}